@model Rental.Data.Models.CarImage

@{
    ViewData["Title"] = "Видалити";
}

<h1>Видалити зображення</h1>

<h3>Ви впевнені, що хочете видалити це зображення?</h3>
<div>
    <h4>Зображення човна</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class="col-sm-2">
            Попередній перегляд
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Url" style="max-width: 100px; max-height: 100px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Повернутись до списку</a>
    </form>
</div>
