@model Rental.Data.Models.Car

@{
    ViewData["Title"] = "Видалити";
    Layout = "_Layout";
}

<h1>Видалити</h1>

<h3>Ви дійсно хочете видалити цей човен?</h3>
<div>
    <h4>Човен</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.shortDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.shortDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.longDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.longDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.img)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.img)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isFavourite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isFavourite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.seatingCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.seatingCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bodyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bodyType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.horsepower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.horsepower)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.engineDisplacement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.engineDisplacement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fuelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fuelType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.transmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.transmission)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
    </form>
</div>
