@model Rental.Data.Models.Car

@{
    ViewData["Title"] = "Деталі";
    Layout = "_Layout";
}

<h1>Деталі</h1>

<h3>Човен</h3>
<div>
    <h4>Інформація про човен</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.shortDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.shortDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.longDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.longDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.img)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.img)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isFavourite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isFavourite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.seatingCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.seatingCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Повернутись до списку</a>
</div>
