@model CarsListViewModel

@{
    Layout = "_Layout";
}

<h1>Човни</h1>

<div>
    <!-- Вкладки для фільтрації -->
    <button class="btn btn-outline-primary" onclick="filterCars('all')">Всі човни</button>
    <button class="btn btn-outline-primary" onclick="filterCars('Електро')">Електро</button>
    <button class="btn btn-outline-primary" onclick="filterCars('Класика')">Дизель</button>
</div>

<div class="sorting-buttons">
    <!-- Кнопки для сортування -->
    <button class="btn btn-outline-primary" onclick="sortCars('asc')">Від дешевих до дорогих</button>
    <button class="btn btn-outline-primary" onclick="sortCars('desc')">Від дорогих до дешевих</button>
</div>

<div id="carsContainer" class="row mt-5 mb-5">
    @foreach (var car in Model.allCars)
    {
        {
            <div class="col-md-4 mb-4 car-card"
         data-category="@car.Category.categoryName"
         data-price="@car.price"
         onclick="openCarDetails('@car.id')">
            <div class="card">
                <img src="@car.img" class="card-img-top" alt="@car.name">
                <div class="card-body">
                    <h5 class="card-title">@car.name</h5>
                    <p class="card-text">Ціна за добу: @car.price.ToString("0.##") ₴</p>
                    <a href="@Url.Action("Index", "CarDetails", new { id = car.id })" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
        }
    }
</div>

<script>
    function filterCars(category) {
        const cars = document.querySelectorAll('.car-card');

        cars.forEach(car => {
            const carCategory = car.getAttribute('data-category');

            if (category === 'all' || carCategory === category) {
                car.style.display = 'block';
                car.style.opacity = 1;
            } else {
                car.style.opacity = 0;
                setTimeout(() => car.style.display = 'none', 300);
            }
        });
    }

    function sortCars(order) {
        const carsContainer = document.getElementById('carsContainer');
        const cars = Array.from(carsContainer.querySelectorAll('.car-card'));

        cars.sort((a, b) => {
            const priceA = parseFloat(a.getAttribute('data-price'));
            const priceB = parseFloat(b.getAttribute('data-price'));

            return order === 'asc' ? priceA - priceB : priceB - priceA;
        });

        carsContainer.innerHTML = '';
        cars.forEach(car => carsContainer.appendChild(car));
    }

    function openCarDetails(carId) {
        window.location.href = '@Url.Action("Index", "CarDetails", new { id = "__carId__" })'.replace('__carId__', carId);
    }
</script>
